<% include layouts/header %>

<div class="ui container main">
  <h1 class="ui header">RestFul Blogs App</h1>
  <div id="blog" class="ui divided items">
    <% blogs.forEach(function(blog) { %>
      <div class="item">
        <div class="ui image medium rounded">
          <img src="<%= blog.image %>">
        </div>
        <div class="content">
          <div class="header">
            <i class="ui mail outline icon "></i>
            <%= blog.title %>
          </div>
          <div class="meta">
            <div class="date">
              <%= blog.created.toLocaleString() %>
            </div>
          </div>
          <div class="description">
            <div class="post">
              <%- blog.body.substring(0, 100); %>
              ...
            </div>
          </div>
          <div class="extra">
            <a class="ui button right" role="button" href="/blogs/<%=blog._id%>">Read More</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<% include layouts/footer %>
